@reference "@/index.css";

@layer utilities {
    .icon-style{
        @apply w-12 sm:w-16 h-auto flex items-center justify-center group-hover:scale-110 transition-all;
    }

    .icon-text{
        @apply font-['Jost'] group-hover:text-[#333333] transition-all;
    }

    .tab-scrollable{
        @apply flex-1 min-h-0 overflow-y-auto overflow-x-hidden w-[99%];
    }

    .tab-scrollable::-webkit-scrollbar {
        width: 6px;
    }

    .tab-scrollable::-webkit-scrollbar-track {
        background: transparent;
    }

    .tab-scrollable::-webkit-scrollbar-thumb {
        background: var(--color-secondary-blue);
        border-radius: 9999px;
    }

    .tab-scrollable::-webkit-scrollbar-button {
        display: hidden;
    }

    .drag-style{        
        @apply shadow-[inset_0_0_0_4px_var(--drag-color,theme(colors.accent-teal)),0_15px_20px_-9px_rgba(0,0,0,0.8)];
    }
}