@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  overflow-x: hidden;
  background-color: #F5EFEB;
}

*p{
  font-family: 'Arial', sans-serif;
}

h1{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
}

@layer base{
  footer{
    @apply fixed bottom-0 bg-[#2f41568f] w-full h-[5%] border-t-2 border-[#2F4156] flex gap-2 items-center;
  }
}

@theme{
  --color-hover-white: #F5F5F5;

  /* COLOR PALETTE */
  --color-primary-blue: #C8D9E6;
  --color-secondary-blue: #2F4156;
  --color-accent-beige: #F5EFEB;
  --color-accent-teal: #567C8D;
}