@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  overflow-x: hidden;
  background-color: #F5EFEB;
}

*p{
  font-family: 'Arial', sans-serif;
}

*h1{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer base{
  footer{
    @apply fixed bottom-0 bg-[#2f41568f] w-full h-[5%] border-t-2 border-[#2F4156] flex gap-2 items-center;
  }
}