
@theme{
    --color-hover-white: #F5F5F5;

    /* COLOR PALETTE */
    --color-primary-blue: #C8D9E6;
    --color-secondary-blue: #2F4156;
    --color-accent-beige: #F5EFEB;
    --color-accent-teal: #567C8D;


    /* ALL ANIMATIONS */
    --animate-fade-in-up: fade-in-up 1.2s ease-out;

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(60px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    --animate-fade-in: fade-in 1s ease-out;

    @keyframes fade-in {
        0%{
            opacity:0;
        }

        100%{
            opacity:1;
        }
    }

    --animate-tab-popup: tab-popup 0.25s forwards;

    @keyframes tab-popup {
        0%{
            opacity: 0;
            scale: 0;
        }

        85%{
            scale:1.035
        }

        100%{
            opacity:1;
            scale: 1;
        }
    }

    --animate-tab-close: tab-close 0.2s forwards;

    @keyframes tab-close {
        0%{
            opacity: 1;
            scale: 1;
        }
        100%{
            opacity:0;
            scale:0;
        }
    }
}