
@theme{
    --color-hover-white: #F5F5F5;

    /* COLOR PALETTE */
    --color-primary-blue: #C8D9E6;
    --color-secondary-blue: #2F4156;
    --color-accent-beige: #F5EFEB;
    --color-accent-teal: #567C8D;


    --animate-fade-in-up: fade-in-up 1.2s ease-out forwards;

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(60px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    --animate-fade-in: fade-in 1s ease-out forwards;

    @keyframes fade-in {
        0%{
            opacity:0;
        }

        100%{
            opacity:1;
        }
    }
}